*{
font-family:verdana, sans-serif;
}
*::-webkit-scrollbar {
width: 5px;
}    
*::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
	 
*::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

html{
background:gray;
}

body{
width:90%;
height:100%;
background:rgba(0,0,0,0.4);
display:block;
margin:auto;
transition:background 2s;
}

body:hover{
background:rgba(0,0,0,0.5);
}

header{
height:100px;
width:90%;
background:rgba(0,0,0,0.8);
position:absolute;
top:0px;
color:white;
}

header ul{
text-align:right;
user-select: none;
padding:0px;
margin:0px;
height:100%;
display:inline-block;
width:65%;
vertical-align:top;
}

header li{
width:35%;
color:white;
display:inline-block;
text-align:center;
margin-top:25px;
background:black;
border-radius:5px;
height:50px;
line-height:350%;
border:1px solid white;
margin-right:7px;
transition:background 1s, color 1s;
vertical-align:top;
}

header li:hover{
background:#121212;
color:blue;
}

header div{
text-align:left;
vertical-align:top;
display:inline-block;
height:100%;
width:30%;
overflow:hidden;
}

header div img{
height:100%;
vertical-align:top;
}

header div h1{
margin:0px;
font-size:25px;
line-height:300%;
display:inline-block;
vertical-align:top;
}

content{
text-align:center;
font-size:1.1em;
height:100%;
}

content p{
width:80%;
text-align:center;
display:block;
margin:auto;
}

content ul{
padding:0px;
padding-bottom:50px;
color:white;
}

content h2{
margin:0px;
padding-top:100px;
}

content h3{
padding-bottom:30px;
color:white;
font-weight:300;
}

content ul li{
list-style-type:none;
font-weight:100;
}

content img{
display:block;
margin:auto;
width:70%;
}

content input{
display:block;
margin:auto;
width:40%;
height:25px;
margin-top:20px;
opacity:0.8;
font-size:0.7em;
background:#121212;
color:white;
border:1px solid white;
}

content button{
user-select:none;
display:block;
margin:auto;
margin-bottom:10px;
background:rgba(255,255,255,0.8);
border-radius:15px;
height:40px;
width:30%;
margin-top:25px;
font-weight:600;
border:none;
transition:color 1.5s, background 0.5s;
}

content button:hover{
background:#212121;
color:white;
}

content textarea{
display:block;
margin:auto;
width:60%;
height:100px;
background:#121212;
color:white;
resize:none;
}

content div img{
display:inline-block;
border:3px solid black;
width:80px;
height:80px;
background:url("../img/logo.png");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
transition:border 2s;
}

content div img:hover{
border:3px solid blue;
}

.userInterface{
display:inline-block;
width:100%;
height:400px;
vertical-align:top;
}

#convo{
height:200px;
width:75%;
background:#121212;
display:block;
margin:auto;
margin-top:10px;
margin-bottom:20px;
border:1px solid white;
overflow-y:scroll;
}

#convo p{
width:70%;
font-size:0.5em;
padding-top:20px;
}

.recive{
text-align:left;
padding-left:10%;
padding-right:20%;
margin:0px;
color:rgb(120,120,255);
}

.send{
text-align:right;
padding-right:10%;
padding-left:20%;
color:white;
}

#writeArea{
width:100%;
height:140px;
}

#contact{
display:block;
margin:auto;
background:rgba(0,0,150,0.5);
height:80px;
margin-bottom:20px;
line-height:400%;
overflow-x:scroll;
overflor-y:hidden;
}

#contact ul{
padding:0px;
margin:0px;
}

#contact ul li{
font-size:20px;
}

#aboutSelection {
height:0px;
width:100%;
background:rgba(0,0,150,0.5);
overflow-y:scroll;
transition:height 2s;
margin-bottom:50px;
margin-top:25px;
}

footer{
height:100px;
text-align:center;
background:rgba(0,0,0,0.95);
color:white;
width:100%;
}

footer p{
padding-top:35px;
}

.textSummit{
height:0px;
width:100%;
padding-top:0px;
background:rgba(0,0,0,0.2);
overflow:hidden;
text-align:center;
color:white;
}

.textSummit p{
display:block;
margin:auto;
text-align:center;
}

.textSummit button{
display:block;
margin:auto;
background:rgba(255,255,255,0.8);
border-radius:15px;
height:40px;
width:60%;
margin-top:25px;
font-weight:600;
border:none;
transition:color 1.5s, background 0.5s;
}

.textSummit button:hover{
background:#212121;
color:white;
}

.textSummit input{
opacity:0.9;
width:40%;
font-size:1.2em;
margin-bottom:10px;
}

@media screen and (min-width: 500px){
	content{
	font-size:2em;
	}
	content img{
	height:200px;
	width:auto;
	}
	content h3{
	font-weight:600;
	padding-bottom:0px;
	}
	.textSummit button{
	width:150px;
	}
	.textSummit p{
	display:inline-block;
	width:15%;
	text-align:right;
	}
	.textSummit input{
	margin-right:15%;
	width:20%;
	}	
	content div img{
	height:135px;
	width:135px;
	}
	#convo{
	height:400px;
	}
	.userInterface{
	height:600px;
	}
	#contact ul li{
	line-height:350%;
	}
}



@media screen and (min-width: 900px){
	content div img{
	height:250px;
	width:250px;
	}

	#contact{
	width:20%;
	height:600px;
	display:inline-block;
	vertical-align:top;
	line-height:100%;
	margin:0px;
	overflow-y:scroll;
	overflow-x:hidden;
	}
	
	#contact ul li{
	font-size:20px;
	}

	.userInterface{
	width:70%;
	}
}
